.global {
  width: 100%;
  max-width: 250px;
  margin: 20px auto;
  padding: 10px;
  border-radius: 6px;
  background-color: #0f0f0f;
}
.global-list {
  list-style: none;
}

#country {
  list-style: none;
  border-radius: 6px;
  display: inline-block;
  padding: 10px 10px;
  width: 100%;
  max-width: 200px;
  margin: 20px 20px;
  background-color: #0f0f0f;
}

.countries-title,
.global-title,
.country-name {
  text-align: center;
}

.country-name {
  font-weight: bold;
}

.country-cases,
.country-deaths,
.country-todayDeaths,
.country-critical,
.country-active,
.global-name {
  font-size: 14px;
}
