@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap");

body {
  color: #ffffff;
  background: #000000;
  font-family: Roboto, sans-serif;
  margin: 50px auto;
}
* {
  padding: 0;
  margin: 0 auto;
}

.img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.title {
  text-align: center;
}
